@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:wght@300;400;700;900&display=swap');


/* ----------------------common shared styles---------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

.content-description {
color: #ffffffcc;
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}


/* -----------------header section styles-------------- */
#header {
    max-width: 1320px;
    min-height: 600px;
    margin: 50px auto 0;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('./Assets/Banner\ Image.png');
    border-radius: 16px;
    background-position: center;
    background-size: cover;

}

.banner {
    padding-top: 177px;
    text-align: center;
}

.banner-greeting {
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}

.banner-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

.banner-title span {
    display: block;
}

/* ------------------------main section styles--------------------- */

/* ---------------------------offer section styles------------------ */
.offer-section {
    margin-top: 120px;
    text-align: center;
}

.offer-title {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.offer-description {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px; 
}

.offer-subtitle {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
}

.offer-section img {
    width: 800px;
    height: 500px;
    margin-top: 48px;
    transition: 0.8s;
}

.offer-section img:hover {
    transform: translateX(8px);
}

/* ----------------------party section styles--------------- */
#party-banner {
   max-width: 1320px;
   min-height: 600px;
   margin: 120px auto 0;
   background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('./Assets/Vectorrr.png') ;
   background-position: center;
   background-size: cover;
   border-radius: 12px;
   background-attachment: fixed;


}

.party-banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.party-banner-content {
    margin: 126px;
}

.party-banner-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; 
    letter-spacing: 7.04px;
    margin-bottom: 24px;
}

.join-now-btn {
    display: inline-block;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin: 48px 0 0 32px;
    text-decoration: none;
    transition: 0.4s;
    
}

.join-now-btn:hover {
    font-size: 21px;
}

.party-year-picture img {
    width: 320px;
    height: 465px;
    margin: 0 138px 0 0;    
}

.party-details {
    max-width: 1320px;
    min-height: 482px;
    margin: 120px auto 0;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 12px;
    text-align: center;
    padding-top: 100px;
}

.party-details-info {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
}

.party-details-info span {
    color: #F00;
}

.join-btn {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 32px;
    border-radius: 8px;
    background: #F00;
    border: 0;
    margin-top: 48px;
    transition: 0.5s;
    cursor: pointer;
}

.join-btn:hover {
    border-radius: 16px;
    background: #ff1e00;

}

/* ---------------------new offer section styles------------- */

.new-offer-section {
    width: 1320px;
    height: 735px;
    margin: 120px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}



.new-offer-column-1 {
    width: 400px;
}

.column-subtitle {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
   padding-bottom: 16px;
}

.column-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 22px;
}

.column-descripton {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.new-offer-column-2 {
    width: 463px;
    height: 463px;
    border: 15px solid #F00;
    border-radius: 463px;
}

.new-offer-column-2-picture {
    margin: 33px;
}

.new-offer-column-3 {
    width: 300px;

}

.column-title-year {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 16px;
}

.new-offer-column-3 img {
    width: 140px;
    height: 140px;
    margin-top: 43px;
}















