@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:wght@300;400;700;900&display=swap');


/* ----------------------common shared styles---------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

.content-description {
color: #ffffffcc;
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}


/* -----------------header section styles-------------- */
#header {
    max-width: 1320px;
    min-height: 600px;
    margin: 50px auto 0;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('./Assets/Banner\ Image.png');
    border-radius: 16px;
    background-position: center;
    background-size: cover;

}

.banner {
    padding-top: 177px;
    text-align: center;
}

.banner-greeting {
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}

.banner-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

.banner-title span {
    display: block;
}

/* ------------------------main section styles--------------------- */

/* ---------------------------offer section styles------------------ */
.offer-section {
    margin-top: 120px;
    text-align: center;
}

.offer-title {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.offer-description {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px; 
}

.offer-subtitle {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
}

.offer-section img {
    width: 800px;
    height: 500px;
    margin-top: 48px;
    transition: 0.8s;
}

.offer-section img:hover {
    transform: translateX(8px);
}

/* ----------------------party section styles--------------- */
#party-banner {
   max-width: 1320px;
   min-height: 600px;
   margin: 120px auto 0;
   background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('./Assets/Vectorrr.png') ;
   background-position: center;
   background-size: cover;
   border-radius: 12px;



}

.party-banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.party-banner-content {
    margin: 126px;
}

.party-banner-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; 
    letter-spacing: 7.04px;
    margin-bottom: 24px;
}

.join-now-btn {
    display: inline-block;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin: 48px 0 0 32px;
    text-decoration: none;
    transition: 0.8s;
    padding: 20px 40px;
    border-radius: 40px;
    background: #F00;
    
}

.join-now-btn:hover {
    transform: translateX(5px);
    background: #ff1e00;
}

.party-year-picture img {
    width: 320px;
    height: 465px;
    margin: 0 138px 0 0;

   
}

.party-details {
    max-width: 1320px;
    min-height: 482px;
    margin: 120px auto 0;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 12px;
    text-align: center;
    padding-top: 100px;
}

.party-details-info {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
}

.party-details-info span {
    color: #F00;
}

.join-btn {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 40px;
    background: #F00;
    border: 0;
    margin-top: 48px;
    transition: 0.8s;
    cursor: pointer;
}

.join-btn:hover {
    transform: translateX(5px);
    background: #ff1e00;

}

/* ---------------------new offer section styles------------- */

.new-offer-section {
    width: 1320px;
    height: 500px;
    margin: 120px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}



.new-offer-column-1 {
    width: 400px;
}

.column-subtitle {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
   padding-bottom: 16px;
}

.column-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 22px;
}

.column-descripton {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.new-offer-column-2 {
    width: 463px;
    height: 463px;
    border: 15px solid #F00;
    border-radius: 463px;
}

.new-offer-column-2-picture {
    margin: 33px;
}

.new-offer-column-3 {
    width: 300px;

}

.column-title-year {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 16px;
}

.new-offer-column-3 img {
    width: 140px;
    height: 140px;
    margin-top: 43px;
}


/* ------------------discount section styles-------------- */
.discount-section {
    max-width: 1320px;
    min-height: 967px;
    margin: 120px auto 0;
    text-align: center;
}

.discount-subtitle {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.discount-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 28px;
}

.discount-title span {
    color: #F00;
}

.discount-description {
    color: #07021199;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 64px;
}

.discount-banner {
    width: 1320px;
    height: 660px;
    background-image: url('./Assets/Rectangle\ 2.png'), url('./Assets/images/Rectangle\ 1.png');
    background-position: bottom, right top;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.offer-box img {
    margin: 0 0 47px 150px;
}

.discount-img {
    margin: 0 285px 290px 0;

}

/* --------------------portfolio section styles------------------ */

.portfolio-section {
    width: 1320px;
    margin: 120px auto 0;

}
.porfolio-subtitle {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.portfolio-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}

.portfolio-description {
    color: #07021199;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 48px;
}

.portfolio-images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

}

.portfolio-images img {
    transition: 0.8s;
    border-radius: 16px;
}

.portfolio-images img:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 10px #00000049;
}



/* -----------------subscribe section styles-------------- */
.subscribe-section {
    max-width: 1320px;
    margin: 120px auto 0;
    text-align: center;
    border-radius: 16px;
    background: #ff00000d;
}

.subscribe-section img {
    margin: 80px 0 0 0;
}

.subscribe-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 40px;
}

.subscribe-description {
    color: #07021199;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 22px;
}

.subscribe-section input[type="email"] {
    width: 400px;
    height: 72px;
    padding: 25px 0 25px 30px;
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin: 40px 0 80px 0;
    border: 0;
    border-radius: 50px 0 0 50px;


}
.subscribe-section input[type="submit"] {
    width: 210px;
    height: 72px;
    padding: 24px 56px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    margin: 40px 0 80px 0;
    border: 0;
    border-radius: 50px 50px 50px 50px;
    background: #F00;
    cursor: pointer;
    transform: translateX(-30px);
    transition: 0.8s;


}

.subscribe-section input[type="submit"]:hover {
    transform: translateX(-40px);
    background: #ff1e00;
}


/* ----------------------footer section styles--------------- */

.footer-section {
    width: 100%;
    background: #070211;
    margin-top: 120px;
}

.footer-row {
    display: flex;
    justify-content: space-between;
}

.address {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    margin: 120px 0 50px 0;

}
.contact {
    margin: 120px 150px 50px 0;
}

.contact a {
    display: block;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    text-decoration: none;
}

.social-links {
   margin: 48px auto;
}

.social-links a img {
    margin: 0 24px 0 0;
    transition: 0.8s;
}

.social-links a img:hover {
    transform: translateY(-5px);
}

.copy-right p {
color: #FFF;
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin: 50px 0 120px 0;
}

.unsubribe-btn {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin: 50px 0 120px 0;
    text-decoration: none;
    padding: 20px 40px;
    background: #F00;
    border-radius: 40px;
    transition: 0.8s;
}

.unsubribe-btn:hover {
    transform: translateX(-5px);
    background: #ff1e00;
}





















