@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:wght@300;400;700;900&display=swap');


/* ----------------------common shared styles---------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

.section-description {
    color: #07021199;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}


/* -----------------header section styles-------------- */
#header {
    max-width: 1320px;
    height: 600px;
    margin: 50px auto 0;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('./Assets/Banner\ Image.png');
    border-radius: 16px;
    background-position: center;
    background-size: cover;

}

.banner {
    padding-top: 177px;
    text-align: center;
}

.banner-greeting {
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}

.banner-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

.banner-title span {
    display: block;
}

/* ------------------------main section styles--------------------- */

/* ---------------------------offer section styles------------------ */
.offer-section {
    margin-top: 120px;
    text-align: center;
}

.offer-title {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.offer-description {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px; 
}

.offer-subtitle {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
}

.offer-section img {
    width: 800px;
    height: 500px;
    margin-top: 48px;
    transition: 0.8s;
}

.offer-section img:hover {
    transform: translateX(8px);
}



